docs/build/*
*~
.DS_Store
.idea
*.pyc
*.sublime-project
*.sublime-workspace
docs/build/
benchmark_results/
.tox/
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/
*.egg-info/
.venv/
.benchmarks/
.coverage*